* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --black: #4D4C59;
    --purple: #6C63FF;
      --light-grey: #C8C8C8;
    --text-color: #9C9AB6;
  }

body {
    font-family: 'Poppins', 'sans-serif';
}

main {
    display: grid;
    grid-template-columns: 50% 50%; 
    align-items: center; 
}

section h1 {
    font-weight: 700;
    color: var(--purple);
    font-size: 36px;
    width: fit-content;
    margin: auto;
}

section div #countdown {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;  


    font-weight: 300;
    color: var(--light-grey);
    font-size: 14px;
}

section div #timer {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;

    font-weight: 500;
    font-size: 72px;
    padding: 0px 0px 0px 25px;
}

#timer div {
    margin: auto;
    color: var(--black);
}

section p {
    font-weight: 400;
    color: var(--text-color);
    font-size: 14px;
    width: fit-content;
    margin: auto;
    padding: 20px 0px 20px;
}

section div button {
    background: var(--purple);
    border-radius: 10px;
    width: 160px;
    height: 46px;
    border: var(--purple);
    
    color: #ffffff;
    font-weight: 500;
    font-size: 16px;
}

section div button:hover {
    opacity: 0.8;
    transition: 0.5s;
    cursor: pointer;
}

#button {
    width: fit-content;
    margin: auto;
}