* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

body {
    background-color: var(--body-background);
    background-image: url(./background.png);
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--text-color);
    font-family: 'Montserrat', 'sans-serif';
    width: 100%;
}

header {
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 10px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 40px;

}

header nav {
    margin: auto;
}

a {
    text-decoration: none;
    color: var(--text-color);
}

header button {
    width: auto;
    background-color: var(--text-color);
    padding: 10px;
    border-radius: 5px;

    display: flex;
    flex-direction: row;
    gap: 5px;
    color: var(--black-text);
}

header button:hover {
    opacity: 0.8;
    transition: 1s;
    cursor: pointer;
}


header button p {
    margin: auto;
    font-weight: 700;
}

section div {
    width: 100%;
}

section #mercado {
    display: grid;
    grid-template-columns: 30% 45% 20% ;
    padding: 0px 40px;
    justify-content: space-between;
    margin-bottom: 40px;
}

section div h1 {
    font-size: 50px;
    font-weight: 700;
}

section div h1 span {
    color: var(--color-logo);
}

section #digital {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

section #artistas {
    display: flex;
    flex-direction: row;
}

section #artistas p {
    margin: auto;
}

section #artistas p span {
    font-weight: 700;
}

section .galeria {
    padding: 20px 40px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
}

section .galeria img {
    width: 25%;
    border: 1px solid var(--subtitle-color);
}

article {
    width: 100%;
    display: grid;
    grid-template-columns: 20% 80%;
}

section #lateral {
    border-right: 1px solid var(--subtitle-color);
    border-bottom: 1px solid var(--subtitle-color);
    padding: 40px;
}

section #lateral div {
    margin: 40px;
}

aside #lorem {
    display: grid;
    grid-template-columns: 40% 40%;
    padding: 40px;
    justify-content: space-between;
}

aside #lorem div p u {
    color: var(--color-logo);
}

aside #lorem div p {
    margin-bottom: 20px;
}

aside img {
    border-bottom: 1px solid var(--subtitle-color);
    width: 100%;
}

main #populares h1 {
    font-weight: 700;
    font-size: 50px;
    padding: 40px;
    margin-top: 40px;
}

main #populares h1 span {
    color: var(--color-logo);
}

section #split {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-between;
    padding: 40px;
}

section #astronauta-1-3 {
    border-right: 2px solid var(--subtitle-color);
    padding: 40px;
}

section #astronauta-1 div,
section #astronauta-2 div,
section #astronauta-3 div,
section #astronauta-4 div {
    display: flex;
    flex-direction: row;
    gap: 150px;
}

section #astronauta-1 p {
    margin-right: 50px;
    color: var(--subtitle-color);
}

section #astronauta-3 p {
    color: var(--subtitle-color);
}

section #astronauta-2 p,
section #astronauta-4 p {
    margin-right: 10px;
    color: var(--subtitle-color);
}

section #astronauta-1 span,
section #astronauta-2 span,
section #astronauta-3 span,
section #astronauta-4 span {
    color: var(--color-logo);
}

section .astronautas,
section .astronautas,
section .astronautas,
section .astronautas {
    margin-bottom: 30px;
    width: 70%;
}

section #astronauta-2-4 {
    padding: 40px;
    margin-left: 150px;

}

section #mayk,
section #jakeliny,
section #joao,
section #tamires {
    margin: 30px 0px;
}

#melhores h1 {
    font-weight: 700;
    font-size: 50px;
}

#melhores h1 span {
    color: var(--color-logo);
}

#melhores #brito,
#melhores #biro,
#melhores #silva,
#melhores #santos,
#melhores #fonseca {
    width: fit-content;
    padding: 40px;
    background-color: var(--card-color);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer {
    background-color: var(--card-color);
}
